%h2 Start a new game of Mexican Trains!

%h3 Add Players:

- form_for @game, :url => game_path do |f|
  = f.error_messages
  - for player in @players
    %p
      = check_box_tag 'game[player_ids][]', player.id, false, :id => "game_player_ids_#{player.id}"
      = f.label "player_ids_#{player.id}", player.name

  = link_to 'Register New Player', new_player_path

  %p
    = f.submit 'Start the Game!'

