%h2= "Playing Mexican Trains"
%h3= "With #{@game.players.map(&:name).to_sentence}"

%p#currentDouble= "Current Double: #{@game.current_round.double}"

- form_for @game.current_round do |f|
  %ul.players
  - f.fields_for :scores do |s|
    %li[s.object.player]
      %span= s.object.player.login
      %span= @game.score_for s.object.player
      %p= s.text_field :score
  %p= f.submit @game.current_round.double.zero? ? 'End Game' : 'Next Round'
