%h2 Log In

- form_for @player_session, :url => login_path do |f|
  = f.error_messages
  = f.label :login, 'Login or Email'
  %br
  = f.text_field :login
  %br
  %br
  = f.label :password
  %br
  = f.password_field :password
  %br
  %br
  = f.submit 'Log In'
