<!DOCTYPE html>

%html
  %head
    %meta{:charset => 'UTF-8'}
    %title Mexican Trains!
    = stylesheet_link_tag 'scaffold', 'application'
  %body
    = button_to 'Log Out', logout_path, :method => :delete if current_player
    %p(style="color:green")= flash[:notice]
    %p(style="color:red")= flash[:error]
    = yield
    = javascript_include_tag 'jquery-1.4.2.min', 'application'
